{% extends "website/base.html" %}
{% load staticfiles%}
{% block title %}Blade{% endblock title %}
{% block content %}
<!-- Inicio Container -->
<div class="container animated fadeIn">
	<div class="row">
	<div class="col-md-12">
		<h2 class="text-center"><b>Servidores de Torre</b></h2>
		<ul>
		<li>Servidores óptimos para empresas que buscan más capacidad de almacenamiento interno, mayor escalabilidad y conectividad para su negocio, de oficinas remotas, pequeñas y medianas empresas.</li>
		</ul>
		<ul>
		<li> Perfecto para la colaboración, el almacenamiento y el uso compartido de archivos y la protección de datos en un servidor en mini torre compacto y silencioso.</li>
		</ul>
		<ul>
		<li>Rendimiento, capacidad de ampliación y confiabilidad con procesador Intel®.</li>
		</ul>
		<ul>
		<li>Ayuda a brindar un rendimiento sólido, capacidad de ampliación y confiabilidad a su organización con amplia potencia de procesamiento, memoria y ancho de banda de E/S del servidor.</li>
		</ul>
		<ul>
		<li>Procese todo rápidamente con el servidor en torre Dell™ PowerEdge™ T620: alto rendimiento y alta disponibilidad empresarial con espacio incorporado para su crecimiento.</li>
		</ul>
		<ul>
		<li>Impulsan una amplia gama de cargas de trabajo exigentes con un servidor flexible que ofrece el máximo rendimiento con dos <em>sockets</em> y gran capacidad de almacenamiento interno.</li>
		</ul>
	</div>
	</div>
</div>	
<!-- Fin Container -->
{% endblock %}