{% extends "website/base.html" %}
{% block title %}Directo{% endblock title %}
{% load staticfiles%}
{% block content %}
<!-- Inicio Container -->
<div class="container animated fadeIn">
	<div class="row">
		<h2 class="text-center"><b>SISCON Directo</b></h2>
		<br>
		<img src="{% static '/img/directo.png' %}" alt="SISCON Directo" class="img-responsive">
		<div class="col-md-12">
			<p><b>Dell</b> directo deja la venta directa y nombra a <b>SISCON DIRECTO</b> como su <em>Partner Premier</em>, y para esto contamos con un <em>call center</em> 5x8 dispuesto a cotizarle sus requerimientos.</p>
			
			<p><b>SISCON DIRECTO</b> no solo le vende directo, le permite manejar una línea revolutiva de crédito, arrendamiento, <em>renting</em>, <em>stock</em> permanente, entrega puerta a puerta en Costa Rica y Centroamérica.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3><b>Nos identificamos por ser la sección que maneja el precio más accesible para nuestro cliente final.</b></h3>
			<p>Somos su línea directa para la asesoría y venta de equipos de tecnología (hardware y software).Con un enfoque en la empresa grande, mediana y pequeña, somos la mejor opción para la compra de servidores y equipo informático.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/monitores-productos.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Monitores</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/proyectores-productos.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Proyectores</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/toshiba-notebook-productos.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Toshiba - Notebook</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/dellOptiplex9020.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Optiplex</b></h5>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/optiplex-3020.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Optiplex 3020</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/optiplex-9030.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Optiplex 9030 AIO</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/notebooks.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Notebooks</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/serie-30001.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Latitude serie 3000</b></h5>
		</div>
	</div>
	<div class="row">	
		
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/serie-5000a.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Latitude serie 5000 - 6000</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/serie-7000.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Latitude serie 7000</b></h5>
		</div>
		<div class="col-md-3 col-xs-6 animated zoomIn">
			<img src="{% static '/img/productos/prescision-WORKSTATION-desktop.jpg' %}" alt="" class="img-responsive img-rounded" style="object-fit: cover;">
			<h5 class=""><b>Prescision Workstation</b></h5>
		</div>
	</div>
	
</div>	
<!-- Fin Container -->
{% endblock %}