/* RESET STYLES–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.chart {  margin: 0 auto;  padding: 0;  list-style-type: none; overflow: hidden;}
	.chart *,.chart::before {  box-sizing: border-box;}
	/* CHART-SKILLS STYLES–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.chart {  position: relative;  width: 200px;  height: 100px;}
	.chart::before,.chart::after {  position: absolute;}
	.chart::before {width: inherit;  height: inherit;  border: 7px solid rgba(255, 255, 255, .3);  border-bottom: none;  border-top-left-radius: 100px;  border-top-right-radius: 100px;}
	.chart::after {left: 50%;  bottom: 10px;  transform: translateX(-50%);  font-size: 1.1rem;  font-weight: bold;  color: cadetblue;}
	.chart::before{ content: ''; }
	.chart li {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  width: inherit;
	  height: inherit;
	  border: 7px solid;
	  border-top: none;
	  border-bottom-left-radius: 100px;
	  border-bottom-right-radius: 100px;
	  transform-origin: 50% 0;
	  animation-fill-mode: forwards;
	  animation-duration: 1.1s;
	  animation-timing-function: linear;
	  transform-style: preserve-3d;
      backface-visibility: hidden;
	}
	.chart span {
	  position: absolute;
	  font-size: 1.6rem;
	  backface-visibility: hidden;
	  animation: fade-in 2.5s linear forwards;
	}
	@keyframes fade-in {
	  0%,
	  90% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

/*Button style*/
.btn {
    background: transparent;
    border-color: #fff;
    border-radius: 0px;
    border: 2.4px solid;
    cursor:pointer;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

    .btn:hover {
        background: rgba(0, 0, 0, 0.3);
        border-color: #fff;
        border-radius: 0px;
        border: 2.4px solid;
    }

/* Modificacion bootstrap's form-control */
.form-control {
    background-color: rgba(0,0,0,0.3);
    border: 2px solid white;
    color: white;
    font-weight: bold;
    border-radius: 0;
}

    .form-control:focus {
        border-color: white;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }


