{% load staticfiles%}
{% block content %}
<!-- Inicio Carousel -->
		<div id="mCarousel" class="carousel slide" data-ride="carousel">
		 
		  <ol class="carousel-indicators">
		    <li data-target="#mCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#mCarousel" data-slide-to="1"></li>
		    <li data-target="#mCarousel" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="{% static '/img/Banner0.jpg' %}" alt="Intel">
		    </div>
		
		    <div class="item">
		      <img src="{% static '/img/Banner1.jpg' %}" alt="Microsoft">
		    </div>
		
		    <div class="item">
		      <img src="{% static '/img/Banner2.jpg' %}" alt="Enterprise">
		    </div>
		  </div>
		
		  <a class="left carousel-control" href="#mCarousel" data-slide="prev">
		    <span class="icon-prev"></span>
		    <span class="sr-only">Anterior</span>
		  </a>
		  <a class="right carousel-control" href="#mCarousel" data-slide="next">
		    <span class="icon-next"></span>
		    <span class="sr-only">Siguiente</span>
		  </a>
		</div> 
<!-- Fin Carousel -->
{% endblock %}