{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock title %} | TyronFonseca</title>
    <meta name="description" content="Pagina web del desarrollador Tyron Fonseca">
    <meta charset="utf-8">    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block styles %}{% endblock %}    
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>    
    <div class="wrapper" id="wrapper">
        <!-- Nav Bar-->
		<header>
			<a href="/"><img src="{% static 'img/logo.png' %}" alt="Logo" width="50" height="50"></a>
			<ul>
				<li><a href="/" class="transition">About</a></li>
				<li><a href="/work" class="transition">Work</a></li>
				<li><a href="/contact" class="transition">Contact</a></li>
			</ul>
		</header>
        <!-- Content -->
		<div id="content" class="center">
			{% block content %}
            {% endblock  %}
		</div>		
	</div>
    <!-- Scripts -->
    <script src="{% static 'js/fadeAnimation.js' %}"></script>
    {% block scriptsEnd %}
    {% endblock %}
	<script type="text/javascript">
		console.log("%cAja! Tratando ver donde no se debe, si quieres saber algo del codigo no dudes en preguntarme. -Tyron", "font-size: x-large");
	</script>
</body>
</html>