{% extends "base.html" %}
{% block title %}Contacto{% endblock title %}
{% block content %}
<!-- Contacto -->
<div class="row animated fadeIn">
	<div class="contacto">
		<h1>Contacto</h1>
        <br>
        <br>
			<div class="col-md-3 col-xs-6">
				<a href="https://twitter.com/{{page_data.twitter}}" target="_blank" class="icon"><i class="devicon-twitter-plain"></i><br><p>@{{page_data.twitter}}</p></a>
			</div>
			<div class="col-md-3 col-xs-6">
				<a href="https://www.facebook.com/{{page_data.facebook}}" target="_blank" class="icon"><i class="devicon-facebook-plain"></i><br><p>/{{page_data.facebook}}</p></a>
			</div>
			<div class="col-md-3 col-xs-6">
				<a href="tel://+506{{page_data.telefono}}" class="icon"><i class="large material-icons">stay_current_portrait</i><br><p>(+506) {{page_data.telefono}}</p></a>
			</div>
			<div class="col-md-3 col-xs-6">
		    	<a href="mailto:{{page_data.email}}" class="icon"><i class="large material-icons">email</i><br><p>{{page_data.email}}</p></a>
			</div>
	</div>
</div>
{% endblock %}