{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{object.nombre}}{% endblock title %}
{% block content %}
<!-- Detail Trabajo -->
<div style="padding:16px;">
<div class="row animated fadeIn">
	<div class="col-md-4" >
            
        	<img class="img-responsive" src="{% static '' %}img/{{object.abreviacion}}-launcher.png" alt="" style="max-height:150px;padding-right: 15px;"/>
	</div>
    <div class="col-md-6">
        <h1>{{object.nombre}}</h1>
        <p style="text-align:left;">{{object.descripcion|safe}}</p>
    </div>
</div>
<div class="row animated fadeIn" style="padding-top:20px;">
        <div class="col-md-6">
            <h2 style="text-align:left;">Caracteristicas</h2>
            {{object.funciones|safe}}
        </div>
        <div class="col-md-6" style="margin-bottom:30px;">
            <img  class="shadow img-responsive img-trigger" src="{% static '' %}img/{{object.abreviacion}}-app.jpg" alt="{{object.nombre}}" style="width:100%;height:300px;object-fit:cover" onclick="displayModal(this);"/>
        </div>
        {% if object.tipo != 'app' %}
        <div>
            <a class="btn btn-primary btn-md" href="/{{object.abreviacion}}">Version live</a>
        </div>
        {% endif %}
   </div>
</div>
<!-- MODAL -->
<div id="mModal" class="modal-img">
  <!-- Close button -->
  <span class="close-modal">&times;</span>
  <!-- Modal content (Image) -->
  <img class="modal-img-content" id="img-modal">
  <!-- Modal Caption (Image text) -->
  <div id="caption-modal"></div>
</div>
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}