{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome{% endblock title %}
{% block styles %}
   
{% endblock %}
{% block content %}
<!-- About -->
            <div id="about" class="section">
				<div style="max-width: 750px;">
					<h1 style="font-size:7em;font-weight:700">Hola!</h1>
					<p style="font-size:1.6em;">Me llamo <strong>Tyron Fonseca</strong>. Diseno y desarrollo paginas web ademas de aplicaciones moviles.</p>
					<br>
					<p style="font-size:1.2em;">Soy un apasionado de la tecnologia al que un dia un amigo le dijo: "Mae aprenda android". Y aprendi, y de ahi empece a meterme en el mundillo de la programacion y el diseno web.</p>
				</div>				
			</div>
{% endblock %}