{% extends "base.html" %}
{% block title %}Work{% endblock title %}
{% load staticfiles %}
{% block styles %}
<style>
	#backgroundImg{
		display: block;
		position:fixed;
		top: 0;
		right: 0;
		z-index:0;
		height:50%;
		width: 50%;
		background-repeat: no-repeat;
		background-position: center center;
	}
	</style>
{% endblock %}
{% block content %}
<!-- Works -->
            <div id="work" class="">
				<ul>
                <!-- For loop -->
                    {% for trabajo in trabajos %}
                    <li id="trabajo{{forloop.counter}}"><a class="work" href="{{trabajo.abreviacion}}" data-color="#{{trabajo.color}}">{{trabajo.nombre}}</a></li>
                    {% endfor%}
				</ul>
			</div>
{% endblock %}
{% block scriptsEnd %}
<script>
    var body = $('body');		
    var tmp = 'nulo';
	$('.work').mouseover(function(e) {
	    e.preventDefault();
        var color = this.getAttribute('data-color');
        body.css("background-color", color);
    });
</script>
{% endblock %}
    